@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #05e680;
    color: #ffffff;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
}

a:hover {
    color: #8a2be2;
    text-decoration: none;
}

.map-button {
    height: 80px;
    width: 90%;
}

.map-button:hover {
    color: #05e680;
}

#mapbox {
    height: 80vh;
}

/* Header */

.logo {
    color: #ffffff;
    /* font-family: 'Prompt', sans-serif; */
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

.head-social,
.head-social a {
    color: #ffffff;
    word-spacing: 24px;
    font-size: 36px;
    text-align: right;
}

#dtSelector {
    /* Overwrites btn-outline-secondary Bootstrap outline */
    border-color: #ffffff;
    color: #ffffff;
}

#dtSelector:active {
    /* Overwrites btn-outline-secondary Bootstrap class properties, this is currently still displaying the default */
    background-color: #8a2be2;
}

#dtSelector:hover {
    /* Overwrites btn-outline-secondary Bootstrap class properties */
    background-color: #8a2be2;
}

#mobSelector {
    color: #ffffff;
}

/* Footer */

.footer div {
    font-size: 22px;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

.gitlink,
.contact,
.foot-social i {
    color: #ffffff;
}

.foot-social i:hover {
    color: #8a2be2;
}

/* Media Queries */

@media (max-width: 575px) {
    .map-button {
        width: 30%;
    }

    #footer-left {
        text-align: center;
    }

    #footer-right {
        text-align: center;
    }
}

@media (min-width: 576px) and (max-width: 940px) {

}