@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #efefef;
    color: #05e680;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
}

a:hover {
    color: #8a2be2;
    text-decoration: none;
}

.map-button {
    background-color: #05e680;
    color: #ffffff;
    font-size: 22px;
    height: 80px;
    width: 90%;
}

.map-button:hover {
    background-color: #8a2be2;
    color: #ffffff;
}

/* Map */

#map-api {
    /* Map will not display without these dimensions */
    min-height: 90%;
    width: 90%;
}

#map-box {
    height: 80vh;
}

/* Header */

header {
    background-color: #05e680;
    color: #ded9d9;
}

.logo {
    color: #ffffff;
    /* font-family: 'Prompt', sans-serif; */
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#epl-icon,
#bun-icon,
#flc-icon,
#gaa-icon,
#loi-icon,
#nhl-icon,
#slr-icon
 {
    height: 40px;
}

.head-social,
.head-social a {
    color: #ffffff;
    word-spacing: 24px;
    font-size: 36px;
    text-align: right; /* unsure whether I prefer center to match buttons or right to match footer and logo */
}

.head-social a i:hover {
    color: #8a2be2;
}

/* Drop-Down */

.dropdown-menu {
    /* Overwrites default Bootstrap parameters */
    min-width: 560px;
    /* needs to be centre-aligned on desktop and tablet mode only */
}

#dtSelector {
    /* Overwrites btn-outline-secondary Bootstrap outline */
    border-color: #ffffff;
    color: #ffffff;
}

#dtSelector:focus {
    /* Overwrites btn-outline-secondary Bootstrap class parameters */
    background-color: #8a2be2;
}

#dtSelector:hover {
    /* Overwrites btn-outline-secondary Bootstrap class parameters */
    background-color: #8a2be2;
}

.dropdown-submenu {
    /* Removes bullet points from club lists */
    list-style: none;
}

#bunClublist .dropdown-item,
#eplClublist .dropdown-item,
#flcClublist .dropdown-item,
#gaaClublist .dropdown-item,
#loiClublist .dropdown-item,
#nhlClublist .dropdown-item,
#slrClublist .dropdown-item {
    display: inline;
}

.dropdown-item img {
    /* add small size increase animation */
    border: 0px 10px 0px 10px;
    height: 50px;
    margin: 0px;
}

#mobSelector {
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    /* overwrites default list-inline-item Bootstrap parameters */
    margin-right: .0rem;
}

/* Footer */

footer {
    /* needs to stick to bottom of page */
    background-color: #05e680;
    bottom: 0;
    color: #ded9d9;
    position: absolute;
}

.footer div {
    font-size: 22px;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

.gitlink,
.contact,
.foot-social i {
    color: #ffffff;
}

.foot-social i:hover {
    color: #8a2be2;
}

/* Media Queries */

@media (max-width: 575px) {
    .map-button {
        width: 30%;
    }

    #footer-left {
        text-align: center;
    }

    #footer-right {
        text-align: center;
    }

    .dropdown-menu {
    /* Overwrites default Bootstrap parameters */
        min-width: 100%;
    }

    #map-box {
        /* removes whitespace for mobile display */
        height: 60vh;
        padding-left: 0px;
        padding-right: 0px;
        width: 100vw;
    }

    #map-api {
        /* Stretches map width to full screen for mobile display */
        min-height: 100%;
        width: 100%;
    }

    footer {
        display: none;
    }

    /* will need to add some JS to force the dropdown to collapse once a club is selected */
}

@media (min-width: 576px) and (max-width: 940px) {

}