@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

body {
    background-color: #efefef;
    color: #05e680;
    font-family: 'Titillium Web', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: lowercase;
}

a {
    color: #ffffff;
}

a:hover {
    color: #8a2be2;
    text-decoration: none;
}

.map-button {
    background-color: #05e680;
    color: #ffffff;
    font-size: 22px;
    height: 80px;
    width: 90%;
}

.map-button:hover {
    background-color: #8a2be2;
    color: #ffffff;
}

/* Map */

#map-api {
    /* Map will not display without these dimensions */
    min-height: 90%;
    width: 90%;
}

#map-box {
    height: 80vh;
}

/* Header */

header {
    background-color: #05e680;
}

.logo {
    color: #ffffff;
    /* font-family: 'Prompt', sans-serif; */
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
}

#epl-icon,
#bun-icon,
#flc-icon,
#gaa-icon,
#loi-icon,
#nhl-icon,
#slr-icon {
    height: 40px;
}

/* Drop-Down */

.dropdown-menu {
    /* Overwrites default Bootstrap parameters */
    border: 2px solid #8a2be2;
    min-width: 480px;
    padding: .5rem;
    /* needs to be centre-aligned on desktop and tablet mode only */
}

.dropdown-submenu {
    /* Removes bullet points from club lists */
    list-style: none;
}

#bunClublist .dropdown-item,
#eplClublist .dropdown-item,
#flcClublist .dropdown-item,
#gaaClublist .dropdown-item,
#loiClublist .dropdown-item,
#nhlClublist .dropdown-item,
#slrClublist .dropdown-item {
    /* padding removal overwrites some default Bootstrap styling that was throwing out the alignment */
    display: inline;
    padding: 0;
}

.dropdown-item img {
    /* add small size increase animation */
    height: 50px;
    margin: 5px;
}

#mobSelector {
    color: #ffffff;
}

.list-inline-item:not(:last-child) {
    /* overwrites default list-inline-item Bootstrap parameters */
    margin-right: .0rem;
}

/* Footer */

footer {
    /* needs to stick to bottom of page */
    background-color: #05e680;
    bottom: 0;
    color: #ffffff;
    position: fixed;
}

.footer div {
    font-size: 22px;
}

#footer-left {
    text-align: left;
}

#footer-right {
    text-align: right;
}

.gitlink,
.contact,
.foot-social i {
    color: #ffffff;
}

.foot-social i:hover {
    color: #8a2be2;
}

/* Modal */

.modal-content {
    /* overrides Bootstrap defaults */
    background-color: #5a6268;
    border-radius: 5px;
}

.modal-header {
    /* overrides Bootstrap defaults */
    color: #05e680;
}

.btn-secondary {
    /* overrides Bootstrap defaults */
    background-color: #05e680;
    color: #5a6268;
}

.btn-secondary:hover {
    /* overrides Bootstrap defaults */
    border-color: #05e680;
}

.form-control {
    /* overrides Bootstrap defaults */
    background-color: #ced4da;
    margin: 3px;
}

.close {
    /* overrides Bootstrap defaults */
    color: #ced4da;
    text-shadow: none;
}

.close:hover {
    /* overrides Bootstrap defaults */
    color: #05e680;
}

/* Media Queries */

@media (max-width: 575px) {
    .navbar {
        padding: 0;
    }

    .logo {
        font-size: 36px;
    }

    .map-button {
        width: 30%;
    }

    #footer-left {
        text-align: center;
    }

    #footer-right {
        text-align: center;
    }

    .dropdown-menu {
    /* Overwrites default Bootstrap parameters */
        min-width: 100%;
    }

    #map-box {
        /* removes whitespace for mobile display */
        height: 60vh;
        padding-left: 0px;
        padding-right: 0px;
        width: 100vw;
    }

    #map-api {
        /* Stretches map width to full screen for mobile display */
        min-height: 100%;
        width: 100%;
    }

    /* will need to add some JS to force the dropdown to collapse once a club is selected */
}

@media (min-width: 576px) and (max-width: 940px) {
    .logo {
        font-size: 36px;
    }

    #epl-icon,
    #bun-icon,
    #flc-icon,
    #gaa-icon,
    #loi-icon,
    #nhl-icon,
    #slr-icon {
        height: 30px;
    }

    .map-button {
        width: 30%;
    }

    .dropdown-menu {
        /* Overwrites default Bootstrap parameters */
        min-width: 100%;
    }

    #map-box {
        /* removes whitespace for mobile display */
        height: 60vh;
        padding-left: 0px;
        padding-right: 0px;
        width: 100vw;
    }

    #map-api {
        /* Stretches map width to full screen for mobile display */
        min-height: 100%;
        width: 100%;
    }
}